@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    overflow-x: hidden;
    font-size: 1.4rem;
    font-family: 'Raleway', sans-serif;
}

.section {
    width: 100%;
    height: 100vh;
    position: relative;
}

#layer {
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    background: url("layer.png") no-repeat center;
    background-size: cover;
    z-index: 3;
}

video#backVid { 
	position: absolute; right: 0; bottom: 0;
	z-index: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(clement-m-360499-unsplash.jpg) no-repeat;
	background-size: cover; 
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 222222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#logo img {
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
}


/*---------------------------------- Section ---------------------------------------------*/

.flex {
    display: flex;
    justify-content: space-between;
}

article,
.imgSection {
    width: 50%;
    height: 100%;
}

.flex article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.imgSection {
    background: url(Background.jpg) no-repeat center;
    background-size: cover;
}

h2 {
    margin-bottom: 10px;
}

.share h2 {
    text-align: center;
    color: white;
    font-size: 30px;
}

.share {
    padding: 40px 0;
    background: url(rsBackground.jpg) no-repeat center;
    background-size: cover;
}

.shareMenu {
    margin-top: 30px;
}

.shareMenu ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.shareMenu ul li {
    width: 15vw;
    height: 15vw;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
    transition: 0.4s ease-in-out;
}

.shareMenu ul li:hover {
    border-radius: 50%;
    background: rgba(0,0,0,0.7);
    transform: rotate(360deg);
}

.shareMenu .iconeMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

/*-------------------------------------------------------------------------------------------*/



#mainMenu ul {
    width: 100%;
    list-style: none;
    text-align: center;
    position: fixed;
    z-index: 333;
    height: 100%;
    background: transparent;
    color: white;
    right: -75%;
    transition: all 0.7s ease-in-out;
    z-index: 999999;
}

#mainMenu ul li {
    padding: 30px 30px;
    font-size: 2.5rem;
    clear: both;
}

li .fas {
    font-size: 4.5rem;
    float: left;
    color: black;
    cursor: pointer;
}

.boutonMenu {
    overflow: hidden;
}

#mainMenu ul a {
    text-decoration: none;
    color: white;
}


@media all and (min-width:767px)
{

#logo img {
    width: 450px;
}
}
